params {

    // =========================
    // INPUT
    // =========================
    input_type     = 'fastq'   // fastq | bam
    samplesheet    = null

    // =========================
    // RUN MODE
    // =========================
    run_mode       = 'germline' // germline | tumor_only | tumor_normal | calibration

    // =========================
    // REFERENCES
    // =========================
    fasta          = null
    fasta_dir      = null
    bed            = null

    // =========================
    // GERMLINE SETTINGS
    // =========================
    seq_type        = 'WGS'     // WGS | WES
    calling_mode    = 'single'  // single | cohort
    interval_padding = 150

    pon     = null
    pon_tbi = null

    // =========================
    // OUTPUT
    // =========================
    outfolder       = 'results'
}

process {
    executor = 'local'
    errorStrategy = 'terminate'

    withLabel: 'qc'    { container = 'qc.sif' }
    withLabel: 'gatk'  { container = 'core.sif' }
}

profiles {
    singularity {
        singularity.enabled = true
    }
}

timeline { enabled = true }
report   { enabled = true }
trace    { enabled = true }