params {

    // RUN CONTROL
    run_mode      = 'germline'   // germline | tumor_only | tumor_normal | calibration
    runID         = ''
    samplesheet   = ''
    outfolder     = ''

    // SEQUENCING
    seq_type      = 'WGS'        // WGS | WES

    // REFERENCES
    fasta         = ''
    fasta_dir     = ''
    bed           = ''

    // MAPPING
    mapper        = 'dragmap_bam' // bwa | dragmap_bam
    output_format = 'bam'

    pon     = '/path/to/pon.vcf.gz'
    pon_tbi = '/path/to/pon.vcf.gz.tbi'

}